CALENDER_CNA =
CALENDER_PASSWORD =
CALENDER_START_DATE = '20240516'
CALENDER_END_DATE = '20240730'
CALENDER_EVENTS_FILE = 'calender_events.json'
CALENDER_EXPORT_FILE = ''
CALENDER_FILTER_MODULE = ''
CALENDER_FILTERED_EVENTS_FILE = ''
CALENDER_FILTERED_EXPORT_FILE = ''